html {
  background-color: oklch(0.96 0 0);

  font-family: sans-serif;
}

body {
  margin: 0px;

  padding: 1rem;
}

.card {
  padding: 1rem;

  border-radius: 1rem;

  background-color: oklch(1 0 0);
}

.card.placeholder {
  max-width: 480px;
  padding-block: 4rem;

  border: 2px dashed oklch(0.8 0 0);

  color: oklch(0.4 0 0);
  background-color: oklch(0.92 0 0);

  text-align: center;

  margin: 0px auto;
}

.link {
  padding: 0.75rem;

  color: oklch(0.72 0.24 235);

  text-decoration: none;

  display: inline-block;
}

.router-link-exact-active.link {
  color: oklch(0.72 0.24 0);
}

.link-text {
  padding-top: 2px;

  border-bottom: 2px dotted;

  font-weight: 700;
}

.router-link-exact-active.link > .link-text {
  border-color: transparent;
}
