html {
  background-color: oklch(0.96 0 0);

  font-family: sans-serif;
}

body {
  margin: 0px;

  padding: 1rem;
}

#root {
  max-width: 1200px;
  margin: 0px auto;
}

.placeholder {
  max-width: 480px;
  padding-block: 4rem;
  padding-inline: 1rem;
  margin: 0px auto;

  border: 2px dashed oklch(0.8 0 0);
  border-radius: 1rem;

  color: oklch(0.4 0 0);
  background-color: oklch(0.92 0 0);
}
