:root {
  --color-accent-blue: oklch(0.72 0.24 235);
  --color-accent-pink: oklch(0.72 0.24 0);
  --color-gray-4: oklch(0.96 0 0);
  --color-gray-6: oklch(0.94 0 0);
  --color-gray-8: oklch(0.92 0 0);
  --color-gray-12: oklch(0.88 0 0);
}

html {
  background-color: var(--color-gray-4);

  font-family: sans-serif;
}

body {
  margin: 0px;

  padding: 1rem;
}

#root {
  max-width: 1200px;
  margin: 0px auto;
}

.placeholder {
  max-width: 480px;
  padding-block: 4rem;
  padding-inline: 1rem;
  margin: 0px auto;

  border: 2px dashed var(--color-gray-12);
  border-radius: 1rem;

  background-color: var(--color-gray-6);

  text-align: center;
}
